/* Matches the background color of the codemirror theme */
:root {
  --main-bg-color: #0C1021;
  --main-fg-color: #98fb98;
}
body {
  background-color: #1C1C1C;
}
@font-face {
  font-family: 'ABCFavoritMono';
  font-style: normal;
  font-weight: 400;
  src: url(ABCFavoritMono-Light.woff) format('truetype');
}
@font-face {
  font-family: 'osd';
  src: url('assets/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.CodeMirror {
  font-family: "Inconsolata", monospace;
  font-size: 15px;
}
.program {
  position: absolute;
  left: 0;
  width:50%;
  height: 100%;
  top: 0;
}
.output {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  height: 50%;
}
.input {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 49.99%;
}
/* Copied from http://aleclownes.com/2017/02/01/crt-display.html */
.running {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  font-family: 'osd';
  font-size: 14px;
  color: black;
  z-index: 999999;
  text-transform: uppercase;
}
/* Copied from http://aleclownes.com/2017/02/01/crt-display.html */
.running::before, .title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
  linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.awesomebar {
  position: absolute;
  text-transform: uppercase;
  z-index: 9998;
  left: 0;
  bottom: 0px;
  width: 100%;
  font-family: "Inconsolata";
}
.pipe,.pipeline-name,.title {
  padding: 3px 10px 2px 15px;
  color: lightgray;
  position: relative;
  display: inline-block;
  border: 1px solid white;
  border-right:none;
  background-color: var(--main-bg-color);
}
.pipeline-name {
  color: white;
}
.pipeline-container {
  display: inline-block;
}

.pipe {
  border: 1px solid white;
  text-transform: lowercase;
}

/* this CS forms the triangles */
.pipe:after,
.pipe:before {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.pipe:after {
  top: 1px;
  border-color: transparent transparent transparent var(--main-bg-color);
  border-width: 10px;
}

/* this border color controlls the outside, thin border */
.pipe:before {
  top:-2px;
  border-color: transparent transparent transparent white;
  border-width: 13px;
}
.activepipe {
  background: var(--main-fg-color);
  color: var(--main-bg-color);
}
.activepipe:after {
  border-color: transparent transparent transparent var(--main-fg-color);
}
.tip-container {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'osd';
  background: lightblue;
}
.file-tip {
  position: absolute;
  left: 0;
  bottom: 26px;
  padding: 0 5px 0 5px;
  display: inline-block;
  color: white;
  background: black;
  padding: 3px;
  text-transform: none;
}
.shortcut-tip {
  padding: 0 5px 0 5px;
  display: inline-block;
  color: black;
  height: 100%;
}
.CodeMirror {
  border: 1px solid #222;
  height: 100%;
}
body{
  padding: 10px 20px;
  height: 100%;
  overflow: hidden;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  background: grey;
  border: 1px solid black;
  border-radius: 2px;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  background: black;
}

.CodeMirror-simplescroll-horizontal {
  height: 10px;
}
.CodeMirror-simplescroll-horizontal div {
  height: 100%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
